---
layout: default
---

<div class="page" style="background-color: #f9fbf3 !important;">
  <div id="main" role="main" class="page__inner-wrap" style="background-color: #f9fbf3 !important;">
    <section class="page__content" style="background-color: #f9fbf3 !important;">
      {{ content }}
    </section>

    {% if page.share %}{% include social-share.html %}{% endif %}

    {% include post-pagination.html %}
  </div>

  {% if site.comments.provider and page.comments %}
    {% include comments.html %}
  {% endif %}
</div>

<style>
  .page,
  .page__inner-wrap,
  .page__content,
  #main {
    background-color: #f9fbf3 !important;
  }
</style>
